<div class='container2'> 
   <% if(notes) { %>
      <% notes.forEach( n => { %> <br><br>
        <%= n.title %> <br>   
        <%= n.summernote %>
        
        <form method="GET" action="/notes/new">
           <input type="hidden" name="<%= n.folderId %>" value="<%= n.folderId %> ">
           <button type="submit">Create a note</button>
        </form>
  
  
        <form method="POST" action="/?_method=DELETE">
           <input type="hidden" name="id" value="<%= n.id %>" />
           <button type="submit">Remove</button>
        </form>  
     <% }) %>
  <% } %> 
</div>



<!-- do an else statement if there are no notes, user can be redirected to create one -->
<!-- need to create a delete button -->

<!-- need to create a edit button -->

